listener "tcp" {
  address     = "0.0.0.0:8200"
  cluster_address = "0.0.0.0:8201"
  tls_disable = "true"
}

storage "raft" {
  path    = "/opt/vault/raft"
  node_id = "{{ ansible_hostname }}"

{% for node in ansible_play_hosts_all %}
  retry_join {
    leader_api_addr = "http://{{ node }}.internal:8200"
  }
{% endfor %}
}

seal "gcpckms" {
  credentials = "/etc/vault.d/.credentials"
  project     = "intrepid-app-297221"
  region      = "global"
  key_ring    = "auto-unseal"
  crypto_key  = "auto-unseal"
}

log_level     = "trace"
log_format    = "json"
disable_mlock = true
cluster_addr  = "http://{{ ansible_hostname }}.internal:8201"
api_addr      = "http://{{ ansible_hostname }}.internal:8200"
ui            = false
